:root{
    --primary_bg_color: #111B21;
    --secondary_bg_color: #1F2C33;
    --text_color: #bbb;
    --secondary_text_color: #222D34;
    --message-primary: #e9edef;
    --friend_text_bg: #1F2C33;
}

*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    /* display: grid;
     grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: 
    "leftPane rightPane"; */
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.leftContainer{
    width: 100%;
    min-width: 300px;
    flex: 30%;
    grid-area: leftPane;
    background-color: var(--primary_bg_color);
}

.leftHeader{
    height: 3.7rem;
    width: 100%;
    display: flex;
    align-items:center;
    background-color: var(--secondary_bg_color);
}

.userIcon{
    justify-items: center;
    width: 40%;
    padding-left: 20px;
    cursor: pointer;
}

.iconsGroup{
    width: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* gap: 2px; */
}



.searchTab{
    position: relative;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.searchTab div{
    width: 100%;
}

.searchTab div input{
    width: 82%;
    outline: none;
    border: none;
    background: var(--secondary_bg_color);
    
    height: 36px;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 60px;
}

.searchTab div input::placeholder{
    color: var(--text_color);
}

.searchTab div svg{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.1em;
}

.chatList{
    position: relative;
    padding: 2px 15px;
    /* height: calc(100% - 6.8rem); */
    height: 43rem;
    overflow-y: auto;
    background: var(--primary_bg_color);
}

.chatContainer{
    /* position: relative; */
    width: 100%;
    height: 4.4rem;
    display: flex;
    align-items: center;
    /* padding: 15px; */
    border-bottom: 1px solid var(--secondary_text_color);
    cursor: pointer;
    /* padding-right: 42px; */
}

.chatContainer.active{
    background: var(--primary_bg_color);
}

.chatContainer:hover{
    background: var(--secondary_bg_color);
}

.chatContainer .imgbx{
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.chatList .chatContainer .chatDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chatName{
    position: relative;
    width: 95%;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--text_color);
    /* margin-bottom: 5px; */
}


.chatName h4{
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    margin-bottom: 0.3rem;
}

.chatList .chatContainer .time{
    font-size: 0.76em;
    color: var(--text_color);
    width: 4rem;
    text-align: end;
}

.chatContainer.unread .time{
    color: #06d755;
}

.chatMessage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text_color);
    margin-left: 15px;
}

.chatMessage p{
    color: var(--text_color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatMessage b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .chatName{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--text_color);
} */

.rightContainer{
    
    width: 100%;
    grid-area: rightPane;
    flex: 70%;
    min-width: 450px;
    border-left: 1px solid var(--secondary_text_color);
}

.rightHeader{
    padding: 10px 16px;
    height: 2.5rem;
    /* width: 100%; */
    display: flex;
    align-items: center;
    background-color: var(--secondary_bg_color);
    position: relative;
}

 .chatBg{
    padding: 50px;
    height: 72.2%;
    background-image: url('./images/whatsapp_bg1.jpeg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: contain;
    /* width: 100%; */
}

.personImage{
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.seperateBoxes{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.seperateBoxes .chatDetails .chatName h4{
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    margin-bottom: 0.3rem;
}

.chatIcons{
    width: 82%;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.chatBox{
    padding: 12px;
    position: relative;
    /* width: 100%; */
    height: calc(100% - 1rem);
    overflow-y: auto;
}

.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 15px 0;
}

.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #015D4B;
    border-radius: 10px;
    font-size: 0.9em;
    color: #E9EDEF;
}

.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #015D4B 0%, #015D4B 50%, transparent 50%, transparent);
}

.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
    text-align: right;
}

.my_message{
    justify-content: flex-end;
}

.friend_message{
    justify-content: flex-start;
}

.friend_message p{
    text-align: left;
    background: var(--friend_text_bg);
}

.friend_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, var(--friend_text_bg) 0%, var(--friend_text_bg) 50%, transparent 50%, transparent);
}

.typeChat{
    position: relative;
    padding: 0 16px;
    /* width: 100%; */
    gap: 15px;
    height: 4.28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--friend_text_bg);
}

.typeChat img{
    cursor: pointer;
    font-size: 1.8rem;
}

.typeChat input{
    position: relative;
    width: 80%;
    margin: 5px 8px;
    padding: 9px 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1em;
    background: #2A3942;
    
}

.typeChat input::placeholder{
    color: var(--text_color);
}

.svgColor{
    color: white;
}